body {
	margin: 0;
	padding: 0;
	font: normal 100% sans-serif;
	color: #606760;
	}

font.ez {
	font-style: italic;
	color: #505050;
	}

font.hint { 
	font-size: 85%;
	}

font.feature {
	#font-size: 110%;
	font-weight: bold;
	}

#nav-bar {
	float: left;
	width: 14%;
	margin: 0.5%;
	padding-bottom: 1%;
	background-color: #c0c0b0;
}

.nav-group {
	margin-top: 1%;
	padding-bottom: 1%;
	}

#nav-bar ul {
	list-style: square;
	color: #af8060;
	margin: 0;
	padding-left: 20px;
	}

#nav-bar li {
	margin-top: 0;
	border-bottom: solid 1px #606070;
	}

#nav-bar a {
	font: bold 85% sans-serif;
	color: #2f4860;
	text-decoration: none;
	}

#nav-bar a:hover {
	background-color: #d8d8d8;
	color: #2f4860;
	}

#news {
	background: #e8947c;
	color: #000000;
	margin: 1%;
	padding: 5px;
	width: 40%;
	float: right;
	font-size: 80%;
	}

#news font.title {
	font-style: italic;
	font-size: 110%;
	}

#news ul.changes {
	font-size: 90%;
	margin-top: 0px;
	}

#oben {
	background-color: #2f4860;
	}
	
h1.oben {
	text-align: left;
	border-bottom: solid 2px #ffffff;
	padding: 5px;
	font-weight: bold;
	letter-spacing: -1px;
	color: #ffffff;
	margin: 0;
	}

#perm-nav {
	float: right;
	padding-right: 5px;
	font-size: 100%;
	color: #006760;
	background-color: inherit;
	}

#perm-nav a {
	font-weight: bold;
	color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	text-decoration: none;
	}

#perm-nav a:hover {
	color: #ffcc00;
	} 


.lid {
	margin: 0;
	padding: 3px;
	padding-left: 10px;
	border-bottom: solid 1px #606070;
	background-color: #c0c0b0;
	font: bold 100% sans-serif;
	letter-spacing: -1px;
	color: #ffffff;
	}

#content {
#	position: absolute;
#	right: 0px;
#	width: 85%;
	font: normal 82% sans-serif;
	background-color: #ffffff;
	padding: 2px;
	}

#content h2 {
	margin: 5px;
	margin-left: 0;
	font-weight: normal;
	letter-spacing: -1px;
	color: #2f4860;
	}

.push {
	margin: 5px;
	padding: 0;
	}

.push p {
	text-align: justify;
	}

#info-title {
	text-align: center;
	background-color: #c0c0b0;
	margin: 0.5%;
	color: #ffffff;
	font-size: 105%;
	#font-weight: bold;
	}

#header {
	text-align: right;
	background-color: #2f4860;
	font-size: 90%;
	color: #ffffff;
	margin: 0;
	}

#footer {
	text-align: right;
	background-color: #2f4860;
	font-size: 80%;
	color: #ffffff;
	margin: 0;
	}
